# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/src/SortAlgorithm/.vs/SortAlgorithm/v16/Browse.VC.db
/src/SortAlgorithm/.vs/SortAlgorithm/v16/ipch/AutoPCH/bbfb613377ebb638
/src/SortAlgorithm/.vs/SortAlgorithm/v16/Browse.VC.opendb
/src/SortAlgorithm/x64/Debug
/src/SortAlgorithm/Debug
/src/SortAlgorithm/.vs/SortAlgorithm/v16
/src/SortAlgorithm/x64/Release/SortAlgorithm.tlog
/src/SortAlgorithm/x64/Release
